name: Bump scaffold

on:
  workflow_dispatch:
    inputs:
      package-name:
        default: '@testduet/given-when-then'
        description: Name of the package
        required: true
        type: string
      use-react:
        default: false
        description: Use React
        required: true
        type: boolean
      skip-integration-test:
        default: false
        description: Skip integration test
        required: true
        type: boolean

jobs:
  call-workflow:
    permissions: {}
    secrets:
      WORKFLOW_BOT_APP_ID: ${{ secrets.WORKFLOW_BOT_APP_ID }}
      WORKFLOW_BOT_PRIVATE_KEY: ${{ secrets.WORKFLOW_BOT_PRIVATE_KEY }}
    uses: compulim/workflows/.github/workflows/bump-scaffold.yml@main
    with:
      package-name: ${{ inputs.package-name }}
      skip-integration-test: ${{ inputs.skip-integration-test }}
      use-react: ${{ inputs.use-react }}

  run-npm-install:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: 'actions/setup-node@v6'
      - uses: 'actions/checkout@v6'
      - run: npm install
      - uses: 'actions/upload-artifact@v6'
        with:
          name: package-lock
          path: package-lock.json
