name: Pull request validation

on:
  pull_request:
    branches: [main]
  workflow_dispatch: {}

jobs:
  call-workflow:
    permissions: {}
    strategy:
      matrix:
        switch: [current]
    uses: compulim/workflows/.github/workflows/pull-request-validation.yml@main
    with:
      node-version: 24
      package-name: '@testduet/given-when-then'
      skip-integration-test: false
      switch: ${{ matrix.switch }}

  run-npm-install:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: 'actions/setup-node@v6'
        with:
          node-version: 24
      - uses: 'actions/checkout@v6'
      - run: npm install
      - uses: 'actions/upload-artifact@v6'
        with:
          name: package-lock
          path: package-lock.json

  run-npm-clean-install:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: 'actions/setup-node@v6'
        with:
          node-version: 24
      - uses: 'actions/checkout@v6'
      - run: npm clean-install --omit optional
